a {
  text-decoration: none !important;
  font-weight: 600 !important;
}
.product .btn-cart,
.modal .btn-checkout,
.cart .btn-cart,
.review .btn-cart {
  font-weight: 600 !important;
  background: linear-gradient(90deg, #ffb977, #ff9d00) !important;
  border: none !important;
}
.btn a {
  color: #ffffff !important;
}
.dropdown-toggle::after {
  display: none !important;
}
.form-control:focus,
.btn:focus,
.btn:active,
.btn-close:focus {
  box-shadow: none !important;
}
.form-control::placeholder {
  font-size: 15px !important;
}
